html {
  font-size: 10px;
}

body {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  background-color: $color-sky;
  color: $color-dark;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.background {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  background-image: url('../assets/landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  border: 2px solid $color-dark;
  border-radius: 1rem;
  background-color: transparent;
  @extend %transition;
  cursor: pointer;
  font-size: larger;
}

.btn:hover {
  background-color: $color-dark;
  color: $color-light;
}