.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.task-title {
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
}

.pokemons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.pokemon {
  width: 20rem;
}

@media screen and (max-height: 800px) {
  .task-title {
    font-size: 5rem;
    line-height: 6rem;
  }


  .pokemon {
    width: 15rem;
  }

}

@media screen and (max-width: 780px) {
  .pokemon {
    width: 10rem;
  }

  .task-title {
    font-size: 5rem;
    line-height: 6rem;
  }
}