.active-image {
  animation: activeAnimation 1s infinite ease-in-out;
}

@keyframes activeAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.active {
  animation-play-state: running;
}

.tiny {
  width: 10rem;
  margin: 0 10rem;
}